* {
    margin-right: 0;

    margin-left: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Museo Sans Rounded";
    src: local("Museo Sans Rounded 300"), local("Museo-Sans-Rounded-300"),
        url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/MuseoSansRounded-300.woff2")
            format("woff2"),
        url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/MuseoSansRounded-300.woff")
            format("woff"),
        url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/MuseoSansRounded-300.ttf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Museo Sans Rounded";
    src: local("Museo Sans Rounded 700"), local("Museo-Sans-Rounded-700"),
        url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/MuseoSansRounded-700.woff2")
            format("woff2"),
        url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/MuseoSansRounded-700.woff")
            format("woff"),
        url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/MuseoSansRounded-700.ttf")
            format("truetype");
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: "Museo Sans Rounded", Calibri, Arial, sans-serif;
}

.container {
    justify-content: center;
    background-color: #d6f9ff;
}

.nav {
    position: relative;
    width: 100%;
    height: 150%;
    background-color: #f5f6f7;
    padding: 0;
    margin-top: 0;
}

.nav-link-wrapper {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #253746;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    color: #e72176;
    border-bottom: 2px solid #e72176;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e72176;
}

.detel {
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1 {
    font-size: 50px;
    color: #253746;
    margin-bottom: 20px;
}

span {
    color: #e72176;
}

.detel p {
    color: #98a4af;
    line-height: 22px;
    font-size: 1.2em;
}

.detel a {
    background: #98a4af;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.nav {
    background-image: url("http://marketotest2.clever-touch.com/rs/230-FAB-248/images/Wallpaper.jpg");
    background-color: #bfe9fc;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;
    clip-path: ellipse(26% 43% at 60% 50%);
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.aboutMe-wrapper {
    padding: 20px;
    position: relative;
    text-align: center;
    background-color: #e6e7eb;
    /*  height: 100%;
    width: 100%;
    background-color: #cfebdf;
    clip-path: ellipse(29% 68% at 6% 55%);
    z-index: -1; */
}

.aboutMe-content-wrapper {
    font-size: 1.3em;
}

.hobbies-img-wrapper {
    display: flex;
    justify-content: space-evenly;
    border: 0px;
}

.hobbie-imgs {
    border: 2px #00bcb5;
}

.hobbies-wrapper {
    background-color: #00bcb5;
    padding: 20px;
}

.flip-box {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border-radius: 15px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 15px;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: #253746;
    color: white;
    transform: rotateY(180deg);
}

.mktoImg {
    border-radius: 15px;
}

.experience-wrapper {
    background-color: white;
    padding: 20px;
}

.experience-wrapper > div {
    display: flex;
    justify-content: space-around;
    font-size: 1.4em;
}

.experience-content-wrapper {
    flex-direction: row;
    text-align: center;
    padding: 10px;
}

.footer {
    background: #253746;
    color: #98a4af;
    height: 386px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer-content h2 {
    color: white;
    padding: 5px;
}

.footer .footer-content .footer-section {
    flex: 1;
    margin-left: 32px;
}

.contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #98a4af;
}

.links ul a:hover {
    color: #e72176;
    margin-left: 15px;
    transition: all 0.5s;
}

.contact-form .contact-input {
    background: #00bcb5;
    color: #98a4af;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.7rem 1.2rem;
    border: #98a4af;
}

.footer .footer-bottom {
    background: #2e3e4b;
    color: #838f99;
    height: 36px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 18px;
}

@media only screen and (max-width: 600px) {
    .footer .footer-content {
        flex-direction: column;
        height: 820px;
        background: #253746;
    }

    .images {
        clip-path: ellipse(50% 30% at 75% 40%);
        bottom: -150px;
        left: 150px;
    }

    .hobbies-img-wrapper {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .footer .footer-bottom {
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: static;
        padding: 0;
        margin: 0;
    }
}
